@(message : models.Messages, isMyMessage : Boolean, isResponseMessage : Boolean)

@if(isResponseMessage){
<li class="message-li @if(isMyMessage){myMessage}else{otherMessage}" messageOfUser="@message.sendBy.id">
		<span class="message-by-img">
			<img src="@routes.UserController.showAppUserImageAsThumbnail(message.sendBy.id)" 
			onerror="this.src='assets/images/defaultMail.png'" width="35" height="35"/>
		</span>
		<span class="message-data dateAndName">
		 	<span class="message-data-name bold" >@message.sendBy.firstName</span>
		  	<span class="message-data-time bold" >@message.sendOn.format("dd-MM-yyyy hh:mm:ss")</span> &nbsp; &nbsp;
		</span>
   <div class="message">
    <p> @message.getDecoadedMessage</p>
   </div>
</li>
}else{
<div class="message">
 	<p> @message.getDecoadedMessage</p>
</div>
}
